.container {
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 0.3em;
    color: white;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    /* color: white; */
}

.carouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sponsorCard {
    flex: 0 0 auto;
    width: 400px;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* This allows child elements like arrows to be positioned relative to this container */
}

.imageContainer {
    width: 100%;
    aspect-ratio: 4/3;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem;
    box-sizing: border-box;
}

.sponsorInfo {
    padding: 1rem;
    text-align: justify;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.3s ease;
    z-index: 2;

    margin-top: 20px;
    margin-bottom: 20px;
}

.arrowButton:hover {
    background: rgba(0, 0, 0, 0.8);
}

.arrowLeft {
    left: 10px;
}

.arrowRight {
    right: 10px;
}

@media (max-width: 768px) {
    .sponsorCard {
        width: 300px; /* Adjust size for smaller screens */
    }

    .arrowLeft {
        left: 5px; /* Smaller margin for smaller screens */
    }

    .arrowRight {
        right: 5px; /* Smaller margin for smaller screens */
    }
}